# GitHub
.github/

# Dependencies
node_modules/
lib/
dict.zip

# Private
.idea/
.private/

# Dev
src/
scripts/
!scripts/postinstall.js
test/

# Config
.gitignore
.gitattributes
.prettierignore
.prettierrc.json
jest.config.json
tsconfig.json
.env
